# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json.*backup

# Logs
*.log

# dotenv
.env

# macOS
.DS_Store

# VSCode
.vscode/
.history/

# Docker (build caches if you do multi-stage)
**/Dockerfile.build/
# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json.*backup

# Logs
*.log

# dotenv
.env

# macOS
.DS_Store

# VSCode
.vscode/
.history/

# Docker (build caches if you do multi-stage)
**/Dockerfile.build/

